.top-banners
    display flex
    justify-content center
    .banners
        width 730px
    i 
        width 37px
        height 58px
        font-size 0
        cursor pointer
        background-position 0px -365px
        align-self center
        margin 0 30px
    .left-btn:hover
            background-position 0px -433px
    .right-btn
        background-position 0px -510px
    .right-btn:hover
        background-position 0px -580px
    h3 
        margin 0
    .download
        font-size 0
        width 257px
.recommendPage
    background #f5f5f5
.content 
    display flex
    justify-content center
    p   
        margin 0
    .wrap
        padding 20px
        width 990px
        display flex   
        background #fff
    .left-content
        width: 73%
    

.recommendsHotCovers
    display flex
    flex-wrap wrap
    justify-content center
.newAlbumContainer
    background #f5f5f5
    display flex
    padding 15px 5px
#album-left-btn 
        cursor pointer
        width 20px
        text-indent -99999px
        background-position -280px -70px
        align-self center
#album-right-btn
        cursor pointer
        width 15px
        text-indent -99999px
        align-self center
        background-position -320px -70px
div.recommend-top-bg    
        display flex
.login-entrance
    width 250px
    height 120px
    box-shadow: 0px 2px 2px #888888;
    padding 20px
    font-size 12px
    
.right-content  
    padding 0px 10px
i.login-btn  
    color #fff
    display block
    width 100px
    height 40px
    background-position 0px -190px
    font-style normal
    text-align center
    padding 10px
    margin 5px 40px