.sprite-01
    background  url('../img/sprite_01.png') no-repeat
.sprite-footer-01
    background  url('../img/sprite_footer_01.png') no-repeat
.sprite-footer-02
    background  url('../img/sprite_footer_02.png')  no-repeat
.banner-sprite
    background  url('../img/banner_sprite.png') no-repeat
.download
    background  url('../img/download.png') no-repeat
.sprite-02
    background  url('../img/sprite_02.png') no-repeat
.sprite-cover
    background  url('../img/sprite_cover.png') no-repeat
.sprite-icon
    background  url('../img/sprite_icon.png') no-repeat
.recommend-top-bg
    background  url('../img/recommend-top-bg.png') no-repeat
    height 490px
.sprite-icon2
    background  url('../img/sprite_icon2.png') no-repeat
.sprite-playbar
    background  url('../img/playbar_sprite.png') no-repeat
span.anticon
    display none
div.ant-message
    top 88%
div.ant-message-notice-content
    background gray
    color #fff