.redhead-line
    padding 7px
    padding-left 212px
    background-color #c20c0c
    a   
      color #fff
      margin 0 40px
      padding 3px 8px
      font-size 12px
    .active
      background-color #9b0909
      border-radius 10px