div.albumCover
    width 120px
    height 110px
    background-position 0px -570px
.albumCoverTitle    
    font-size 12px
    width 120px
.albumCoverArtist
    line-height 25px
    font-size 10px
    color gray
