.header
    background-color rgb(36,34,33)
    display flex
    min-width 1000px
    align-items center
    .active
        position relative
        color  #fff
        background-color black
        .active-icon
            background-position -223px 45px
            position absolute
            top 30px
            left 40%
            height 60px
            width 18px
    .hot-icon
         background-position -190px 0px
         position absolute
         width 30px
         height 20px
    .Head-input
        margin-left 90px
       
.logo
    display inline-block
    margin-left 40px
    position relative
    top -7px
    width 180px
    height 55px
    text-indent -999px

   