.hotStreamer
    padding 10px
    hr 
        border 0.2px solid gray
    h4
        display inline-block
        margin 0
        font-weight bold
.streamer-wrap
    display flex
    margin-bottom 10px
    a   
        color black
        font-size 12px
.streamer-content
    margin-left 10px
.streamer-name:after
    content:''
    display inline-block
    height 12px
    width 13px
    background url('../assets/img/sprite_icon2.png')