.song-cover
    display inline-block
    margin 15px
    h4 
        margin 0
        font-weight bold
    .cover-bottom
        text-indent -999999px
        position absolute
        bottom 0px
        left 0px
        width 140px
        height 27px
        background-position 0px -533px
    .bg-effect  
        position absolute
        top 0px
        left 0px
        width 140px
        height 140px
        text-indent -999999px    
         
    .coverup    
        display inline-block
        position relative
    .listen-icon
        text-indent -9999999px
        width 20px
        height 20px
        position absolute
        left 0px
        bottom 0px
        background-position 0px -20px
        margin 0px 10px
    .play-icon
        position absolute
        bottom 0px
        right 4px
        width 20px
        height 20px
        text-indent -999999px
    .play-num
        position absolute
        bottom 2px
        left 30px
        color lightgray
        font-size 12px
        font-style normal