.top-highlight  
    color #c10d0c
.top-index
    font-size 18px
    margin-right 10px
i.ranking-top-btn
    text-indent -9999999px
    width 60px
    height 40px
    display inline-block
    background-position -265px -195px
.rank-song-content
   display inline-block
   height: 28px
   overflow hidden
   width 140px 
a.ranklist-play  
   display inline-block
   background-position -265px -265px
a.ranklist-add
    display inline-block
    background-position 3px -695px
a.ranklist-collect
    display inline-block
    background-position -295px -265px
.ranklist-btn
    margin-right 2px
    height 20px
    width 20px

